version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - MY_UID=${MY_UID}
        - MY_GID=${MY_GID}
    #restart: always
    tty: true
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - 8080:8080
    volumes:
      - ./cmd:/home/appuser/app  
  db:
    image: mysql:8.0
    env_file:
        - .env
    volumes:
      - ./mysql/data/db:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    user: "${MY_UID}:${MY_GID}"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    env_file:
      - .env
    links:
      - db
    ports:
      - 4000:80
    volumes:
      - ./phpmyadmin/sessions:/sessions